body * {
    border: 1px dotted grey; 
}

.app {
    display: grid;
    grid-template-columns: 20% 60% 20%;  
}

.symbol-entry-area {
    grid-column-start: 2;
}

.graph {
    min-height: 400px;
    border: 1px solid black;
    /* width: 500px; */
    justify-self: stretch;
    grid-column-start: 2;
}

.successful-searches {
    margin-top: 50px;
    grid-column-start: 2;
}

.error-msg {
    margin-top: 50px;
    margin-bottom: 50px;
    grid-column-start: 2;
    height: 50px;
    /* visibility: hidden; */
    background-color: lightpink;
}