body * {
    font-family: 'Lato', sans-serif;
}

.app {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.symbol-entry-area {
    grid-column-start: 2;
}

h1 {
    margin-bottom: 10px;
}

p {
    color: lightslategray;
    margin-top: 0px;
}

.graph {
    min-height: 400px;
    border: 1px solid black;
    /* width: 500px; */
    justify-self: stretch;
    grid-column-start: 2;
}

.error-msg {
    padding: 10px;
    margin-top: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
    grid-column-start: 2;
    height: 100px;
    background-color: lightgrey;
    color: lightgrey;
    transition: all 0.5s ease-out;
}

.show-error {
    background-color: rgb(255, 215, 221);
    color: darkred;
}

.successful-searches {
    margin-top: 50px;
    grid-column-start: 2;
}

.tbody * {
    border: 1px solid lightgray;
}

.update-current-values {
    width: 100px;
}

.successful-searches tbody tr:hover {
    background-color: lightgray;
}